-# 
  Эта страница не адаптивна! Так как сделать подобные сраницы адаптивными -
  это отдельное задание! 
=breadcrumb_tag do
  %li.active
    Пользователи
  %li
    Администрирование

.page-header
  %h1= t('headers.users.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_by_admin_users_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.user')      
  %thead
    %tr
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:birthday)
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td.center= user.email
        %td.center= lnil(user.birthday)
        %td.right
          = link_to edit_user_path(user), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to user, :method => :delete, 
          :data => { :confirm => t('buttons.confirm.user') }, 
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')
