= form_for @tariff do |f|
  = error_messages_for @tariff
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
    .col-md-6
      .form-group
        = f.label :time_of_day
        = f.select :time_of_day, ["День", "Ночь"], {include_blank: true}, {class: 'form-control'}
        = f.error_messages_for(:time_of_day)
  .row
    .col-md-6
      .form-group
      = f.label :range
      = f.select :range, ["в пределах МКАД", "за МКАД", "Подмосковье"], {include_blank: true},  {class: 'form-control'}
      = f.error_messages_for(:range)
    .col-md-6
      .form-group
      = f.label :price_per_kilometer
      = f.text_field :price_per_kilometer, class: 'form-control'
      %span.input-group-addon
        %span.glyphicon.glyphicon-ruble
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
