=breadcrumb_tag do
  %li.active
    = t('headers.tariffs.edit')
  %li
    = link_to(@tariff.name, @tariff)
  %li
    = link_to 'Тарифы', tariffs_path
  %li
    Таксопарк

.page-header
  %h1= t('headers.tariffs.edit')

= render 'form'
