= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :time_of_travel
    = f.datetime_select :time_of_travel
  .field
    = f.label :departure_address
    = f.text_field :departure_address
  .field
    = f.label :arrival_address
    = f.text_field :arrival_address
  .field
    = f.label :number_of_passengers
    = f.number_field :number_of_passengers
  .field
    = f.label :length_of_route
    = f.text_field :length_of_route
  .field
    = f.label :automobile_id
    = f.select :automobile_id, options_for_select(Automobile.all.map{|x|[x.state_number, x.id]}), include_blank: true
  .field
    = f.label :tariff_id
    = f.select :tariff_id, options_for_select(Tariff.all.map{|x|[x.name, x.id]}), include_blank: true
  .actions
    = f.submit nil, class: 'btn btn-primary'
