=breadcrumb_tag do
  %li.active
    Заказы
  %li
    Таксопарк

.page-header
  %h1= t('headers.orders.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_order_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.order')
    = link_to search_orders_path, class: 'btn btn-info' do
      = fa_icon :search
      = t('buttons.search.order')
  %thead
    %tr
      %th= Order.human_attribute_name(:id)
      %th= Order.human_attribute_name(:time_of_travel)
      %th= Order.human_attribute_name(:departure_address)
      %th= Order.human_attribute_name(:arrival_address)
      %th= Order.human_attribute_name(:number_of_passengers)
      %th= Order.human_attribute_name(:length_of_route)
      %th= Order.human_attribute_name(:automobile_id)
      %th= Order.human_attribute_name(:tariff_id)
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td.center= order.id
        %td.center= order.time_of_travel
        %td.center= order.departure_address
        %td.center= order.arrival_address
        %td.center= order.number_of_passengers
        %td.center= order.length_of_route
        %td.center= order.automobile.state_number
        %td.center= order.tariff.name
        %td.right
          = link_to order, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_order_path(order), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to order, :method => :delete,
          :data => { :confirm => t('buttons.confirm.order') },
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')
