=breadcrumb_tag do
  %li.active
    Поиск заказов
  %li
    = link_to 'Заказы', orders_path
  %li
    Таксопарк

.page-header
  %h1= t('headers.orders.search')

= form_tag search_orders_path(), method: :get do
  .well
    %h3= t('forms.order_search.form.order')
    .row
      .col-md-3
        .form-group
          = Order.human_attribute_name(:time_of_travel)
          .input-group.date.datetimepicker
            = text_field_tag 'search[time_of_travel_from]',
            params['search']['time_of_travel_from'],
            class: 'form-control', placeholder: t('forms.order_search.from')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
          .input-group.date.datetimepicker
            = text_field_tag 'search[time_of_travel_to]',
            params['search']['time_of_travel_to'],
            class: 'form-control', placeholder: t('forms.order_search.to')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
      .col-md-9
        .form-group
          = Order.human_attribute_name(:departure_address)
          = text_field_tag 'search[departure_address]',
          params['search']['departure_address'],
          class: 'form-control'
      .col-md-9
        .form-group
          = Order.human_attribute_name(:arrival_address)
          = text_field_tag 'search[arrival_address]',
          params['search']['arrival_address'],
          class: 'form-control'
    .row
      .col-md-3
        .form-group
          = Order.human_attribute_name(:number_of_passengers)
          = text_field_tag 'search[number_of_passengers]',
          params['search']['number_of_passengers'],
          class: 'form-control'
      .col-md-3
        .form-group
          = Order.human_attribute_name(:length_of_route)
          = text_field_tag 'search[length_of_route_from]',
          params['search']['length_of_route_from'],
          class: 'form-control', placeholder: t('forms.order_search.from')
          = text_field_tag 'search[length_of_route_to]',
          params['search']['length_of_route_to'],
          class: 'form-control', placeholder: t('forms.order_search.to')
      .col-md-6
        .form-group
          = Order.human_attribute_name(:automobile_id)
          = select_tag 'search[automobile]',
          options_for_select(Automobile.all.map{|x| [x.automobile_model + ": " + x.state_number, x.state_number]}),
          {include_blank: true, class: 'form-control'}
      .col-md-6
        .form-group
          = Order.human_attribute_name(:tariff_id)
          = select_tag 'search[tariff]',
          options_for_select(Tariff.all.map{|x| [x.name, x.name]}),
          {include_blank: true, class: 'form-control'}
  .well
    %h3= t('forms.order_search.form.tariff')
  .well
    %h3= t('forms.order_search.form.automobile')
  .well
    %h3= t('forms.order_search.form.driver')

  .actions
    = submit_tag t('buttons.search.order'), class: 'btn btn-primary'


.page-header
  %h1= t('forms.order_search.found') + ": " + @orders.size.to_s

- if @orders.size > 0
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= Order.human_attribute_name(:id)
        %th= Order.human_attribute_name(:time_of_travel)
        %th= Order.human_attribute_name(:departure_address)
        %th= Order.human_attribute_name(:arrival_address)
        %th= Order.human_attribute_name(:number_of_passengers)
        %th= Order.human_attribute_name(:length_of_route)
        %th= Order.human_attribute_name(:automobile_id)
        %th= Order.human_attribute_name(:tariff_id)

    %tbody
      - @orders.each do |i|
        %tr
          %td.center= i.id
          %td.center= i.time_of_travel
          %td.center= i.departure_address
          %td.center= i.arrival_address
          %td.center= i.number_of_passengers
          %td.center= i.length_of_route
          %td.center= i.automobile.state_number
          %td.center= i.tariff.name
