%h1 Listing role_users

%table
  %thead
    %tr
      %th Role
      %th User
      %th Data
      %th
      %th
      %th

  %tbody
    - @role_users.each do |role_user|
      %tr
        %td= role_user.role
        %td= role_user.user
        %td= role_user.data
        %td= link_to 'Show', role_user
        %td= link_to 'Edit', edit_role_user_path(role_user)
        %td= link_to 'Destroy', role_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Role user', new_role_user_path
