= form_for @automobile do |f|
  = error_messages_for @automobile
  .row
    .col-md-6
      .form-group
        = f.label :automobile_model
        = f.text_field :automobile_model, class: 'form-control'
        = f.error_messages_for(:automobile_model)
    .col-md-6
      .form-group
        = f.label :automobile_type
        = f.select :automobile_type, ["Бизнес", "Эконом"], {include_blank: true}, {class: 'form-control'}
        = f.error_messages_for(:automobile_type)
  .row
    .col-md-6
      .form-group
        = f.label :state_number
        = f.text_field :state_number, class: 'form-control'
        = f.error_messages_for(:state_number)
    .col-md-3
      .form-group
        = f.label :color
        = f.text_field :color, class: 'form-control'
        = f.error_messages_for(:color)
    .col-md-3
      .form-group
        = f.label :release
        = f.number_field :release, class: 'form-control'
        = f.error_messages_for(:release)
  .actions
    = f.submit nil, class: 'btn btn-primary'
