= form_for @driver do |f|
  = error_messages_for @driver
  .row
    .col-md-4
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
        = f.error_messages_for(:last_name)
    .col-md-4
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
        = f.error_messages_for(:first_name)
    .col-md-4
      .form-group
        = f.label :patronymic
        = f.text_field :patronymic, class: 'form-control'
        = f.error_messages_for(:patronymic)
  .row
    .col-md-4
      .form-group
        = f.label :date_of_birth
        .input-group.date.datepicker
          = f.text_field(:date_of_birth,
          value: nilDate(f.object.date_of_birth),
          class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
          = f.error_messages_for(:date_of_birth)
    .col-md-4
      .form-group
        = f.label :itn
        = f.text_field :itn, class: 'form-control'
        = f.error_messages_for(:itn)
    .col-md-4
      .form-group
        = f.label :passport
        = f.text_field :passport, class: 'form-control'
        = f.error_messages_for(:passport)
  %div{class: 'panel panel-info'}
    .panel-heading
      = t('activerecord.models.automobile')
    .panel-body
      = f.fields_for (:automobile) do |df|
        = df.hidden_field(:id)
        .row
          .col-md-6
            .form-group
              = df.label :automobile_model
              = df.text_field :automobile_model, class: 'form-control'
              = df.error_messages_for(:automobile_model)
          .col-md-6
            .form-group
              = df.label :automobile_type
              = df.select :automobile_type, ["Бизнес", "Эконом"],
              {include_blank: true}, {class: 'form-control'}
              = df.error_messages_for(:automobile_type)
        .row
          .col-md-6
            .form-group
              = df.label :state_number
              = df.text_field :state_number, class: 'form-control'
              = df.error_messages_for(:state_number)
          .col-md-3
            .form-group
              = df.label :color
              = df.text_field :color, class: 'form-control'
              = df.error_messages_for(:color)
          .col-md-3
            .form-group
              = df.label :release
              = df.number_field :release, class: 'form-control'
              = df.error_messages_for(:release)
  .actions
    = f.submit nil, class: 'btn btn-primary'
