= form_for @driver do |f|
  - if @driver.errors.any?
    #error_explanation
      %h2= "#{pluralize(@driver.errors.count, "error")} prohibited this driver from being saved:"
      %ul
        - @driver.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :patronymic
    = f.text_field :patronymic
  .field
    = f.label :date_of_birth
    = f.date_select :date_of_birth
  .field
    = f.label :itn
    = f.text_field :itn
  .field
    = f.label :passport
    = f.text_field :passport
  .field
    = f.label :automobile_id
    = f.select :automobile_id, options_for_select(Automobile.all.map{|x|[x.state_number, x.id]}), include_blank: true
  .actions
    = f.submit nil, class: 'btn btn-primary'
