=breadcrumb_tag do
  %li.active
    = @driver.last_name + " " + @driver.first_name + " " + @driver.patronymic
  %li
    = link_to 'Водители', drivers_path
  %li
    Таксопарк

%h1= @driver.last_name + " " + @driver.first_name + " " + @driver.patronymic


.alert.alert-info
  .row
    .col-md-12
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th
              = Driver.human_attribute_name(:last_name)
              = Driver.human_attribute_name(:first_name)
              = Driver.human_attribute_name(:patronymic)
          %tbody
            %td.center
              = @driver.last_name
              = @driver.first_name
              = @driver.patronymic
  .row
    .col-md-4
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th
              = Driver.human_attribute_name(:passport)
          %tbody
            %td.center= @driver.passport
    .col-md-4
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th
              = Driver.human_attribute_name(:itn)
          %tbody
            %td.center= @driver.itn
    .col-md-4
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th
              = Driver.human_attribute_name(:automobile_id)
          %tbody
            %td.center
              - if @driver.automobile.nil?
                = '-'
              - else
                = "#{@driver.automobile.automobile_model}, #{@driver.automobile.state_number} [#{@driver.automobile.automobile_type}]"
