%nav.navbar.navbar-inverse.hidden-print#top-bar
  .container-fluid
    .navbar-header
      .navbar-brand
        = link_to root_path do
          = image_tag 'logo.png', alt: t('app.company.short_name')
          = t('app.name')
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#bs-example-navbar-collapse-1'}}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %li
        = link_to login_path do
          = @current_user.blank? ? 'войти' : @current_user.email
      %li
        - if @current_user.blank?
          = link_to login_path do
            = fa_icon 'sign-in'
        - else
          = link_to logout_path do
            = fa_icon 'sign-out'
